$body-bg-color:hsl(21,20%,70%);
$nav-bg-color:hsla(21,30%,20%,0.8);
$nav-link-color:white;
$active-color:black;

body{
	background-color: $body-bg-color;
	//background:linear-gradient($nav-bg-color,darken($body-bg-color,40%));
}
nav{
	background-color:$nav-bg-color;
	.navbar-brand{
		color:white;
	}
	.navbar-nav{
		width:60%;
		justify-content: space-evenly;
		.nav-link{
			color:$nav-link-color;
			transition: 0.2s;
		}
		.nav-link:focus{
			color:$active-color;
		}
		.nav-link:hover{
			color:$active-color;
		}
		.active {
			color:$active-color;
		}
	}
}
